.grid_1 {
  width: 70px;
}
.grid_2 {
  width: 150px;
}
.grid_3 {
  width: 230px;
}
.grid_4 {
  width: 310px;
}
.grid_5 {
  width: 390px;
}
.grid_6 {
  width: 470px;
}
.grid_7 {
  width: 550px;
}
.grid_8 {
  width: 630px;
}
.column {
  margin: 0 5px;
  overflow: hidden;
  float: left;
  display: inline;
}
.row {
  width: 640px;
  margin: 0 auto;
  overflow: hidden;
}
.row .row {
  margin: 0 -5px;
  width: auto;
  display: inline-block;
}
/* start Outlook margin fix */
table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  padding: 0;
}
table td {
  border-collapse: collapse;
}
/* end of Outlook margin fix */
@media only screen and (max-width: 480px) {
  /* start general styling */
  *[class=tbl320] {
    width: 320px;
    height: auto;
    border: 0;
    padding: 0;
  }
  *[class=img320] {
    width: 320px;
    height: 240px;
    border: 0;
    padding: 0;
  }
  *[class=hidden] {
    display: none;
  }
  /* end of general styling */
  /* start of image swapping */
  *[class=logo] {
    background-image: url(http://i1294.photobucket.com/albums/b613/veronzbucket/black_zpscd9957d9.jpg);
    width: 320px;
    height: 80px;
  }
  span[class=nav] {
    background-image: url(http://i1294.photobucket.com/albums/b613/veronzbucket/red_zpsf7fc103c.jpg);
    width: 106px;
    height: 28px;
    display: inline-block;
  }
  span[class=nav2] {
    background-image: url(http://i1294.photobucket.com/albums/b613/veronzbucket/red_zpsf7fc103c.jpg);
    width: 107px;
    height: 28px;
    display: inline-block;
  }
  div[class=mainImage] {
    background-image: url(http://i1294.photobucket.com/albums/b613/veronzbucket/blue_zpsf1ad33aa.jpg);
    height: 320px;
    width: 320px;
  }
  *[class=bottomImage] {
    background-image: url(http://i1294.photobucket.com/albums/b613/veronzbucket/black_zpscd9957d9.jpg);
    width: 160px;
    margin-top: 10px;
    height: 200px;
  }
  /* end of image swapping */
}
